
@font-face {
    font-family: AveriaSerifLibre;
    src: url(fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf);
}

@font-face {
    font-family: Kalam;
    src: url(fonts/Kalam/Kalam-Regular.ttf);
}

@font-face {
    font-family: Signika;
    src: url(fonts/Signika/static/Signika-Light.ttf);
    
}

@font-face {
    font-family: SignikaMedium;
    src: url(fonts/Signika/static/Signika-Medium.ttf);
}

html{
  scroll-behavior: smooth;
}

*{
    font-family: Signika;
    font-size: 105%;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);

}

/* navbar */
body{ 
    background-image: url(images/group-foto.png);
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 2000px;
   
    
}

.logo{
    width: 100px;
    height: auto;
    padding: 0px;
    
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 900;
    box-shadow: 3px 10px 5px rgba(0,0,0, 0.1);

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    padding-left: 10px;
    justify-content: flex-end;
    align-items: center;
}


nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav ul a:hover{
    text-decoration: underline;
}

nav .logo{
    display: fixed;
    padding: none;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 290px;
    z-index: 999;
    background-color: rgba(12, 8, 8, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: flex;
    color: white;
}

@media(max-width: 1000px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
}

@media(max-width: 500px){
    .sidebar{
        width: 100%;
    }
}

/* content */

.title{
    font-family: AveriaSerifLibre;
    font-size: 500%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    display: relative;
}

.under-title{
    font-family: Kalam;
    font-weight: 100;
    font-size: 300%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.group-foto{
    width: 100%;
    height: auto;
}

.hero{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    text-align: center;
    padding: 20px;
}

.content-block {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    margin: 2em auto;
    max-width: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .content-block-history {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    margin: 2em auto;
    max-width: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
.spacer {
    height: 50px;
  }

h1{
    font-family: AveriaSerifLibre;
    font-size: 30px;
    padding-bottom: 10px;
}

.headline{
    font-family: Kalam;
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 20px;
}

.contact-hero{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    text-align: center;
    padding: 20px;
}

.kontaktdaten{
  justify-content: center;
  text-align: left;
}

@media(min-width: 1200px){

    .content-block{
        max-width: none; 
        margin-left: 250px;
        margin-right: 250px;
    }
    .content-block-history{
        max-width: none; 
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media(max-width: 800px){
    .title{
        font-size: 300%;
    }
    .under-title{
        font-size: 175%;
    }
    .content-block-history{
        margin: 2em auto 2em -25px;  
    }
}

/* scroll-box */

.scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;        
    -ms-overflow-style: none;      
}

.scroll-container::-webkit-scrollbar {
    display: none;             
}

.scroll-container:hover {
    scrollbar-width: thin;        
}

.scroll-container:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.scroll-container:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.box {
    min-width: 300px;
    height: auto;
    background-color: #ffffff;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.2);;
    padding: 1rem;
    border-radius: 8px;
    flex-shrink: 0; 
}

.box img {
  width: 350px;   
  height: auto;   
  border-radius: 8px; 
  display: block; 
  margin: 0 auto; 
}


/* scroll button */

.slowup {
  position: fixed;       
  right: 20px;           
  bottom: 20px;         
  width: 50px;
  height: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  user-select: none;
  z-index: 9999; 
}

.slowup.visible {
  opacity: 1;
}

.slowup-arrow{
    color: black;
}

/*geschichte timeline*/
  
  .timeline {
    position: relative;
    margin: auto;
  }
  
  /* Weiße Mittellinie */
  .timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation: moveline 4s linear forwards;
    box-shadow: 5px 15px 10px rgba(0,0,0, 0.3);
  }
  
  /* Linie animieren */
  @keyframes moveline {
    from { height: 0; }
    to { height: 100%; }
  }
  
  /* Container */
  .timeline-container {
    padding: 10px 0px;
    position: relative;
    width: 50%;
    opacity: 0;
    z-index: 1;
    animation: movedown 1s ease-out forwards;
    text-align: center;
  }
  
  @keyframes movedown {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Positionierung */
  .left-container {
    left: 0;
  }
  .right-container {
    left: 50%;
  }
  
  /* Inhalte */
  .timeline-textbox {
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    position: relative;
    font-size: 15px;
    box-shadow: 5px 15px 10px rgba(0,0,0, 0.3);
    z-index: 1;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .timeline-textbox h2 {
    font-family: AveriaSerifLibre;
    font-weight: 600;
    font-size: 150%;
  }
  .timeline-textbox small {
    font-family: Kalam;
    display: block;
    margin-bottom: 10px;
  }

  .report{
    font-family: SignikaMedium;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
  }

  .reporterName{
    text-align: left;
    padding-bottom: 10px;
  }
  
  /* Kreise */
  .circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    top: 32px;
    right: -20px;
    z-index: 2;
  }
  .right-container .circle {
    left: -20px;
    right: auto;
  }
  
 /* picture */

 .container-picture{
    max-width: 100%;
    width: auto;
    border-radius: 10px ;
    padding-top: 10px;
 }

 .caption {
    font-size: 85%;
 }


  /* Pfeile */
  .left-container-arrow,
  .right-container-arrow {
    position: absolute;
    top: 28px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1;
  }
  
  .left-container-arrow {
    border-left: 15px solid white;
    right: -14px;
  }
  .right-container-arrow {
    border-right: 15px solid white;
    left: -14px;
  }

/* Responsive Anpassungen für Handy */
@media (max-width: 800px) {
    .timeline::after {
      left: 31px; 
    }
  
    .timeline-container {
      width: auto;
      padding-left: 80px;
      padding-right: 25px;
    }

    .timeline-textbox{
        margin-right: -40px;
        margin-left: 0px;
    }
  
    .right-container {
      left: 0;
    }
  
    .circle {
      left: 10px;  
      right: auto; 
    }

    .right-container .circle {
        left: 10px;
        right: auto;
    }
  
    .left-container-arrow,
    .right-container-arrow {
      left: -15px;
      border-left: none;
      border-right: 15px solid white;
    }
  }

  /* picture-carousel */

  .carousel {
  position: relative;
  width: 100%;
  margin: 10px 0;

}

.carousel img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.8);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  z-index: 1;
}

.carousel-btn.prev { left: 0; }
.carousel-btn.next { right: 0;}

/* faq */

.faq-item {
    font-size: 105%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.2);;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    font-family: Signika;
    margin-top: 8px;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    margin: 5px 0;
    display: block;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
}

svg.arrow {
    width: 20px;
    height: 20px;
}

.interest-container{
  padding-bottom: 10px;
}

/* footer */

footer {
  text-align: right;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
=======
>>>>>>> 375c903ce2f9c4cf4539981eb6b258b2dbeae98b
